.box {
  border: 5px solid black;
  border-radius: 10px;
  background-image: url('./balloon-sq2.jpg');
  background-size: contain;
}

h2 {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
}
    